<!DOCTYPE html>
<html>
<head>
    <title>Nexus - Login</title>
</head>

<body>

    <h1>Login to Nexus</h1>

    <form method="POST">

        <input
            type="email"
            name="email"
            placeholder="Email"
            required
        >

        <br><br>

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <br><br>

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        Don't have an account?
        <a href="/register">Register</a>
    </p>

</body>
</html>