<!DOCTYPE html>
<html>
<head>
    <title>Nexus - Workspaces</title>
</head>

<body>

    <nav>

    <h1>Nexus</h1>

    <a href="{{ url_for('workspace.workspaces') }}">
        Workspaces
    </a>

    &nbsp; | &nbsp;

    <a href="{{ url_for('workspace.search') }}">
        Search
    </a>

    &nbsp; | &nbsp;

    <a href="{{ url_for('auth.logout') }}">
        Logout
    </a>

</nav>

<p>Welcome, {{ current_user.username }}!</p>

    <hr>

    <h2>Your Workspaces</h2>

    <a href="{{ url_for('workspace.create_workspace') }}">
        + Create Workspace
    </a>

    <br><br>

    {% if workspaces %}

        {% for workspace in workspaces %}

            <div>
                <h3>
                    <a href="{{ url_for(
                        'workspace.workspace_detail',
                        workspace_id=workspace.id
                    ) }}">
                        {{ workspace.name }}
                    </a>
                </h3>

                {% if workspace.description %}
                    <p>{{ workspace.description }}</p>
                {% else %}
                    <p>No description</p>
                {% endif %}

            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p>You don't have any workspaces yet.</p>

    {% endif %}

</body>
</html>